@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gambetta:wght@500&display=swap");



@import "tailwindcss";

@theme {
                                                                                         
  --font-heading: "Gambetta", serif;
  --font-body: "Poppins", sans-serif;

  --color-white: #ffffff;
  --color-green-300: #b4f5b4;

  --text-heading-size: 128px;
  --text-heading-weight: 500;
  --text-heading-letter-spacing: -0.06em;
  --text-heading-line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: #ffffff;
  color: #111111;
  @apply antialiased;
}




.heading {
  font-family: var(--font-heading);
  font-size: var(--text-heading-size);
  font-weight: var(--text-heading-weight);
  letter-spacing: var(--text-heading-letter-spacing);
  line-height: var(--text-heading-line-height);
  color: var(--color-white);
}


.accent-block {
  background-color: var(--color-green-300);
  @apply rounded-md px-4 py-2 text-sm font-medium text-black;
}


@media (max-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.bg-gradient-to-b {
  inset: 0;
  background: linear-gradient(to bottom, rgba(3, 21, 32, 0.4) 10%, rgba(5, 30, 28, 0.6) 100%, rgba(14, 29, 30, 0.4) 0%);  pointer-events: none;
}

.transition-properties{
  @apply transition-all duration-150;
}

.primary-glow {
  filter: drop-shadow(0px 0px 2px #a3ff00); 
}

.scrollbar-glow::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-glow::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-glow::-webkit-scrollbar-thumb {
  background: rgba(34, 197, 94, 0.2);
  border: 1.5px solid #22c55e;
  border-radius: 9999px;
  animation: pulseGlow 2.5s infinite alternate;
  box-shadow: 0 0 6px #22c55e88;
  cursor: pointer;
}

.scrollbar-glow::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 197, 94, 0.4);
  box-shadow: 0 0 10px #22c55ecc;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 4px #22c55e77;
  }
  100% {
    box-shadow: 0 0 12px #22c55eee;
  }
}

.scrollbar-glow {
  scrollbar-width: thin;
  scrollbar-color: rgba(34, 197, 94, 0.3) transparent;
}

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

